*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgba(23, 22, 22, 0.9);
}
.container{
    width: 400px;
    padding: 25px 3% ;
    background-color: #fff;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}
.container input{
    width: 100%;
    height: 50px;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}
button{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding: 5px;
    background-color:#494eea;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 500;
    cursor: pointer;
    border-color: #494eea;
}
.img-box{
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
